body {
  background-color: #282c34;
}
.header {
  height: 50vh;
  padding: 20px 0;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.headline {
  color: white;
  font-size: 3rem;
  font-weight: 300;
}
.movie-list {
  margin-bottom: 80px;
}
