body {
  background-color: #282c34;
}
.header {
  height: 50vh;
  padding: 20px 0;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.headline {
  color: white;
  font-size: 3rem;
  font-weight: 300;
}
.headline-desc {
  color: white;
}
.movie-list {
  margin-bottom: 80px;
}
.movie-detail {
  margin: 50px 0;
}
.movie-detail .poster {
  margin: auto;
  display: block;
}
.movie-detail h1 {
  color: white;
}
.movie-detail table {
  color: white;
}
.movie-detail table th {
  text-align: left;
  opacity: 0.8;
}
.movie-detail table td {
  text-align: left;
  opacity: 0.9;
  padding: 0 12px;
}
.back {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 12px;
  text-decoration: none;
}
